<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>

    <form class="" action="/register" method="POST">
      <div class="registerlabel">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="registerlabel">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
      </div>

    <div class="registerlabel">
      <label for="password">password</label>
      <input type="password" name="password" id="password" required>
    </div>

<button type="submit">Register</button>
    </form>

    <a href="/login">Login</a>
  </body>
</html>
