<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text Upload</title>
  </head>
  <body>
    <h1>Upload Your Text Testing</h1>

    <form class="" action="/textupload" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" >
      <input type="submit" name="" value="Upload">
      <p></p>
    </form>

  </body>
</html>
